[project]
	description = Simple script for breaking up a large CSV file into a user-defined set of smaller files.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/phoenixcoder
[access "refs/for/refs/*"]
	read = group user/phoenixcoder
	push = group user/phoenixcoder
	label-Code-Review = -2..+2 group user/phoenixcoder
	label-Verified = -1..+1 group user/phoenixcoder
	rebase = group user/phoenixcoder
	removeReviewer = group user/phoenixcoder
	submit = group user/phoenixcoder
[access "refs/heads/*"]
	read = group user/phoenixcoder
	create = group user/phoenixcoder
	push = +force group user/phoenixcoder
	pushMerge = group user/phoenixcoder
[access "refs/tags/*"]
	push = +force group user/phoenixcoder
	pushTag = group user/phoenixcoder
	pushSignedTag = group user/phoenixcoder
